In [8]:
import pandas as pd
Location = "datasets/HEA01.xls" 
df = pd.read_excel(Location)
df.columns = ['Areaname','STCOU','HEA010198F','HEA010198N1',]

In [10]:
df

             Areaname  STCOU  HEA010198F  HEA010198N1
0       UNITED STATES      0           1         7024
1             ALABAMA   1000           1         7022
2         Autauga, AL   1001           0            0
3         Baldwin, AL   1003           0            0
4         Barbour, AL   1005           0            0
5            Bibb, AL   1007           0            0
6          Blount, AL   1009           0            0
7         Bullock, AL   1011           0            0
8          Butler, AL   1013           0            0
9         Calhoun, AL   1015           0            0
10       Chambers, AL   1017           0            0
11       Cherokee, AL   1019           0            0
12        Chilton, AL   1021           0            0
13        Choctaw, AL   1023           0            0
14         Clarke, AL   1025           0            0
15           Clay, AL   1027           0            0
16       Cleburne, AL   1029           0            0
17         Coffee, AL   1031           0            0
18        Colbert, AL   1033           0            0
19        Conecuh, AL   1035           0            0
20          Coosa, AL   1037           0            0
21      Covington, AL   1039           0            0
22       Crenshaw, AL   1041           0            0
23        Cullman, AL   1043           0            0
24           Dale, AL   1045           0            0
25         Dallas, AL   1047           0            0
26         DeKalb, AL   1049           0            0
27         Elmore, AL   1051           0            0
28       Escambia, AL   1053           0            0
29         Etowah, AL   1055           0            0
...               ...    ...         ...          ...
3168   Washington, WI  55131           0            0
3169     Waukesha, WI  55133           0            0
3170      Waupaca, WI  55135           0            0
3171     Waushara, WI  55137           0            0
3172    Winnebago, WI  55139           0            0
3173         Wood, WI  55141           0            0
3174          WYOMING  56000           1         7022
3175       Albany, WY  56001           0            0
3176     Big Horn, WY  56003           0            0
3177     Campbell, WY  56005           0            0
3178       Carbon, WY  56007           0            0
3179     Converse, WY  56009           0            0
3180        Crook, WY  56011           0            0
3181      Fremont, WY  56013           0            0
3182       Goshen, WY  56015           0            0
3183  Hot Springs, WY  56017           0            0
3184      Johnson, WY  56019           0            0
3185      Laramie, WY  56021           0            0
3186      Lincoln, WY  56023           0            0
3187      Natrona, WY  56025           0            0
3188     Niobrara, WY  56027           0            0
3189         Park, WY  56029           0            0
3190       Platte, WY  56031           0            0
3191     Sheridan, WY  56033           0            0
3192     Sublette, WY  56035           0            0
3193   Sweetwater, WY  56037           0            0
3194        Teton, WY  56039           0            0
3195        Uinta, WY  56041           0            0
3196     Washakie, WY  56043           0            0
3197       Weston, WY  56045           0            0

[3198 rows x 4 columns]